{% extends 'basicpage.html' %}
{% load i18n %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
{{ block.super }}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
<form action="" enctype="multipart/form-data" method="post">
<table>
{% include "widgets/form.html" %}
  <tr><td></td><td>
  <input type="submit" value="{% trans "Save changes" %}" />
  </td></tr>
</table>
</form>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
{% endblock %}
