*.pyc
*.swp
/bin/
/backups/
/develop-eggs/
/downloads/
/eggs/
/media/
/media
/project/media/
/project/settings_local.py
/static/
/user_media/
/var/
/parts/
.project
.pydevproject
.mr.developer.cfg
.installed.cfg
.settings/
# *.mo
_bookservice
.noseids
reports/
issues.txt
src/DasaRepoSyncer/
src/django-date-extensions/
src/django-jenkins/
src/django-userena/
src/iviewer/
DASA POC Gerbrandy/
circus.ini
data/
user_media_backup/
tmp.py
*.cert
*.key
secret.py
log/
amsterdam.cfg
anri.cfg
anri-new.cfg
fabfile.py
env.py
fabfile.py
dumped_versions.cfg
src/
apps/log/
venv/
