{% extends "base.html" %}
{% load thumbnail i18n %}
{% block js %}
		<script src="{{ STATIC_URL }}js/jquery-colorbox/jquery.colorbox.js"></script>
		<script>
			$(document).ready(function(){
				$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			})
		</script>	
		<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-colorbox/example1/colorbox.css" />
{% endblock js %}
{% block content %}
<p><b>CLICK ON THE IMAGE...</b>
		<p><a class='iframe' href="/imageviewer/?image={{ STATIC_URL }}images/home/logo.png"><img src="{{ STATIC_URL }}images/home/logo.png"></a></p>
{% endblock content %}