{% extends "browse-and-search-template.html" %}
{% load thumbnail i18n highlight snippet %}

{% block js %}
{{ block.super }}
<script>
    $(document).ready(function() {
        $(document).tooltip();
 	});
</script>
{% endblock %}


{% block headers %}
    <tr class="headers">
        <th style="width:145px">
            <a href=".?{{ qs.order_by_archive_reference }}">
            {% trans "Identification" %}
            </a>
        </th>
        <th style="width: 400px">
            {% trans "Description" %}
        </th>
        <th style="width: 200px">
        </div>
            {% trans "References" %}
        </th>
    </tr>
{% endblock headers %}

{% block result_row %}
    <tr {% ifequal selected_order result.order %}class="selected"{% endifequal %}>
        <td>
            {% trans "Map" }}: {{ result.object.IDSource }}<br />
            {% if result.object.originalMissingYN == 'Y '%}
              {% trans "original map is missing" %}<br />
            {% endif %}
            {% if result.object.originalMissingYN == 'Y' %}
              {% trans "original map is missing" %}<br />
            {% endif %}
              {% if result.object.scanMissingYN == 'Y' %}
              {% trans "map not scanned" %}<br />
            {% endif %}
              {{ result.object.refScanFrontImageThumb | safe }}
              {{ result.object.refScanBackImageThumb | safe }}
        </td>
        <td>
            {% trans "By de Haan:" %} {{ result.object.descriptionByDeHaanNL }}<br />
            {% if result.object.descriptionOnMapNL %}
              {% trans "On the map:" %} {{ result.object.descriptionOnMapNL }}<br />
            {% endif %}
            {% if result.object.titleEN %}
              {% trans "English title:" %} {{ result.object.titleEN }}<br />
            {% endif %}
            <br>
            {% if result.object.typeMap %}
              {% trans "Type:" %} {{ result.object.typeMap }}<br />
            {% endif %}
            {% if result.object.scale %}
              {% trans "Scale:" %} {{ result.object.scale }}<br />
            {% endif %}
            {% if result.object.locationEN %}
              {% trans "Location:" %} {{ result.object.locationEN }}<br />
            {% endif %}
            {% if result.object.dimensionHWinCM %}
              {% trans "Dimension:" %} {{ result.object.dimensionHWinCM }}<br />
            {% endif %}
            {% if result.object.Color %}
              {% trans "Color:" %} {{ result.object.Color }}<br />
            {% endif %}
            {% if result.object.typeGraphics %}
              {% trans "Graphics:" %} {{ result.object.typeGraphics }}<br />
            {% endif %}
            {% if result.object.maker %}
              {% trans "Maker:" %} {{ result.object.maker }}<br />
            {% endif %}
            {% if result.object.date %}
              {% trans "Date:" %} {{ result.object.date }}<br />
            {% endif %}
            <br>
            {% if result.object.commentsEN %}
              {% trans "Comments:" %} {{ result.object.commentsEN }}<br />
            {% endif %}
            {% if result.object.refOriginalEN %}
              {% trans "Reference notes:" %} {{ result.object.refOriginalEN }}<br />
            {% endif %}
        </td>
        <td>
            {% if result.object.refArchiveFile %}
              {% trans "Bijlagen Resoluties" %}:
              {% trans "archive file:" %}<a href="">{{ result.object.refArchiveFileAsString }} </a>
              <br />
              {% trans "date:" %} {{ result.object.refArchiveDateBijlagen }}
              <br />
              {% trans "description:" %} {{ result.object.refArchiveDescription }}
              <br />
              <br />

            {% endif %}
            {% if result.object.refOtherMaps %}
              {% trans "Related maps:" %} {% for ref in result.object.otherMaps %}
                <a href="{% url SLUG_DEHAAN_SEARCH %}?ID={{ref}}">{{ ref }}</a>;
              {% endfor %}
              <br >
              <br>
            {% endif %}
            {% if result.object.indexTerms %}
               {% trans "Index terms:" %}
               {% for ref in result.object.indexTermsSplitted %}
                <a href="{% url SLUG_DEHAAN_SEARCH %}?index_term={{ref}}">{{ ref }}</a>;
              {% endfor %}
            {% endif %}
        </td>
    </tr>
{% endblock %}
