{% extends "basicpage.html" %}
{% load url from future %}
{% load thumbnail i18n %}

{% comment %}
XXX: body_id should be changed, but CSS depends on this id
{% endcomment %}
{% block body_id %}resolution_subjects{% endblock %}

{% block content %}
{{ block.super }}
<div class="alphabet">
    {% for letter, count in letters %}
    <a href="{% url SLUG_DEHAAN_INDEXTERMS %}?first_letter={{ letter }}">
        <span class="letter">{{letter}}</span>
        <br>
        <span class="count">
        {{ count }}
        </span>
    </a>
    {% endfor %}
</div>
<br class="clear" />
{% for col in index_terms %}
	<div class="column">
	<ul>
	{% for subject, nr in col %}
	<li>
	<a href="{% url SLUG_DEHAAN_SEARCH %}?index_term={{ subject }}&q=">
	{{ subject }} ({{ nr }})
	</a>
	</li>
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% endblock %}
