{% extends "browse-and-search-template.html" %}
{% load thumbnail i18n highlight snippet %}
{% block js %}
{{ block.super }}

 <script>
  $(document).ready(function() {
    $(document).tooltip();
  });
  </script>
{% endblock %}

{% block headers %} 
    <tr class="headers"> 
        <th style="width:90px">
            <a href=".?{{ qs.order_by_date }}">
            {% trans "Inserted on" %}
            </a>
        </th>
        <th>
            {% trans "Description" %}
        </th>
        <th style="width:150px">
            <a href=".?{{ qs.order_by_archive_reference }}">
            {% trans "Archive Reference" %}
            </a>
        </th>
    </tr>
{% endblock headers %} 
 


{% block result_row %}
    <tr {% ifequal selected_order result.order %}class="selected"{% endifequal %}> 
        <td> 
            {{ result.object.insertion_date|default:"" }} 
        </td>
        <td>
            {% if result.object.original_y %}
            <div>
                <span>{% trans "Original Date" %}:</span> 
                <span>{{ result.object.print_original_date }}</span>
            </div>
            {% endif %}

            {% with result.object.sources.all as sources %}
            {% if sources %}
            <div>
                {% if sources|length == 1 %}
                    {% trans "Source" %}: 
                {% else %}
                    {% trans "Sources" %}: 
                {% endif %}
                {% for location in sources %}
                   <span><a href="{% url SLUG_DIPLOMATICLETTERS_SEARCH %}?location={{ location.city }}">{{ location.city }}</a></span>{% if not forloop.last %}, {% endif %}
                {% endfor %} 
            </div>
            {% endif %}
            {% endwith %}
         
            {% with result.object.destinations.all as destinations %}
            {% if destinations %}
            <div>
                {% if destinations|length == 1 %}
                    {% trans "Destination" %}: 
                {% else %}
                    {% trans "Destinations" %}:
                {% endif %}
                {% for location in destinations %}
                    <span><a href="{% url SLUG_DIPLOMATICLETTERS_SEARCH %}?location={{ location.city }}">{{ location.city }}</a></span>{% if not forloop.last %}, {% endif %}
                {% endfor %} 
            </div>
            {% endif %}
            {% endwith %}

            {% with result.object.rulername_original as ruler %}
            {% if ruler %}
            <div>
                {% trans "Original text" %}:
                <span>{{ ruler }}</span>
            </div>
            {% endif %} 
            {% endwith %}

            {% with result.object.rulers.all as rulers %}
            {% if rulers %}
            <div>
                 {% if rulers|length == 1 %}
                     {% trans "Ruler" %}:
                 {% else %}
                     {% trans "Rulers" %}: 
                 {% endif %}
                 {% for ruler in rulers %}
                 <span><a href="{% url SLUG_DIPLOMATICLETTERS_SEARCH %}?ruler={{ ruler.name_modern }}">{{ ruler.name_modern }}</a></span>{% if not forloop.last %}, {% endif %}
                 {% endfor %} 
            </div>
            {% endif %}
            {% endwith %}
 
            <div>
                {% if result.object.originalLetterAvailableYN == "Y" or result.object.sealedYN == "Y" or result.object.notes %}
                    {% trans "Notes" %}: 
                    {% if result.object.originalLetterAvailableYN == "Y" %}
                       {% trans "Original letter available" %},
                    {% endif %}
                    {% if result.object.sealedYN == "Y" %}
                       {% trans "Sealed" %},
                    {% endif %}
                {{ result.object.notes }}
                {% endif %}
            </div>
             
            {% if result.object.originalLanguage or result.object.translatedInto %}
            <div>
                 {% trans "Language" %}: 
                 {% if result.object.originalLanguage %}
                 {{ result.object.originalLanguage }} ({% trans "original" %})
                 {% endif %}
                 {% if result.object.translatedInto %}
                 {{ result.object.translatedInto }} ({% trans "translated" %})
                 {% endif %}
            </div>
            {% endif %}
        </td>
        <td style="text-align: right">
            {% if result.object.volume %}
                    <a href="{{ result.object.link_to_hathitrust }}" style="white-space:nowrap" >
                        {{ result.object.hathitrust_reference }}&nbsp;<img src="{{STATIC_URL}}images/book.png" style="float:none; vertical-align:text-bottom">
                    </a><br>
            {% endif %}
            {% if result.object.archiveFile in published_archivefiles %}
                <a href="#" onClick="return openPageBrowser('{{result.object.link_to_pagebrowser}}');" style="white-space:nowrap">
                {{ result.object.archive_reference }}&nbsp;<img src="{{STATIC_URL}}images/book.png" style="float:none; vertical-align:text-bottom">
                </a><br>
            {% else %}
                    {{ result.object.archive_reference }}
            {% endif %}
        </td>
    </tr>
{% endblock %}
 
 

